[Desktop Entry]
Name=S-Container
Exec=/home/kj/launch_visus.sh
Comment=
Terminal=true
Icon=/usr/share/icons/SCIRun_4.png
Type=Application
Name[en_US]=Visus_Viewer.desktop
