[Desktop Entry]
Name=S-Container
Exec=singularity run --fakeroot --writable --bind /run,picInputs:/Project/picInputs,simulations:/Project/src/picongpu/share/picongpu/examples,scratch:/Project/scratch scirun_picongpu
Comment=
Terminal=true
Icon=/usr/share/icons/e-density.png
Type=Application
Name[en_US]=SCIRun-PT.desktop
